@import './root.css';

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container .toggler {
    z-index: 9;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s ease-in-out;
}

.container .toggler.cadastro {
    top: 0;
    position: absolute;
    border-bottom-left-radius: 128px;
    border-bottom-right-radius: 128px;
}
.container .toggler.cadastro.hide {
    top: -100px;
}

.container .toggler.entrar {
    bottom: 0;
    position: absolute;
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;
}
.container .toggler.entrar.hide {
    bottom: -100px;
}

.container .toggler button {
    cursor: pointer;
    margin: 26px auto;
    padding: 0px 30px;
    color: var(--azul);
    border-radius: 50px;
    background: var(--branco);
}


.form-entrar {
    height: 100%;
}

.form-cadastro {
    height: calc(100% - 24%);
}
.form-cadastro label[for="checkbox-terms"] {
    left: 15px;
    top: 2.2px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    border: 2px solid var(--cinza-claro);
}
.form-cadastro label[for="checkbox-terms"].checked {
    border: 2px solid var(--verde);
}
.form-cadastro label[for="checkbox-terms"].checked::before {
    left: -1px;
    top: -4px;
    font-size: 1em;
    content: 'done';
    font-weight: bold;
    position: absolute;
    color: var(--verde);
    font-family: 'Material Icons';
}

.form.form-entrar.hide {
    margin-top: -100vh;
}

.form.form-cadastro.hide {
    margin-bottom: 100vh;
}