@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sintony:wght@700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    --azul: #59A8FF;
    --azul50: #59A8FF50;
    --azul30: #59A8FF50;
    --verde: #00ed00;
    --verde50: #00ed0050;
    --verde30: #00ed0030;
    --cinza: #434343;
    --cinza-medio: #43434385;
    --cinza-claro: #43434350;
    --preto: #141414;
    --preto-abs: #141414;
    --fundo: #FFFFFF;
    --branco: #FFFFFF;
    --branco-abs: #FFFFFF;
    --branco-abs2: #FFFFFFCF;
    --shadow: 0 0 10px lightgray;
}

html.dark {
    --branco: #3f3f3d;
    --preto: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--cinza);
    font-family: 'Inter';
    box-sizing: border-box;
}

body {
    background: var(--branco);
}

.none {
    display: none !important;
}


/* ========= */
/*  PROFILE  */
/* ========= */

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 15px 25px 15px;
    border-bottom-left-radius: 129px;
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
}

.profile .infos {
    display: flex;
    text-align: end;
    font-weight: bold;
    margin-right: .7rem;
    flex-direction: column;
}

.profile .infos p:first-child {
    margin-bottom: .3rem;
    color: var(--branco-abs);
}

.profile .infos p:nth-child(2) {
    color: var(--branco-abs2);
}

.profile .image {
    width: 50px;
    height: 50px;
}

.profile .image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.profile.off-bg {
    background: none;
    box-shadow: none;
    justify-content: start;
}

.profile.off-bg .infos {
    text-align: start;
    margin-left: .7rem;
}

.profile.off-bg .infos p:first-child {
    color: var(--cinza);
}

.profile.off-bg .infos p:nth-child(2) {
    color: var(--cinza-medio);
}


/* ====== */
/*  FORM  */
/* ====== */

.form {
    width: 70%;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    place-items: center;
    justify-content: center;
    transition: 1.5s ease-in-out;
}

.form .btn-action {
    width: 100%;
    color: white;
    cursor: pointer;
    margin: 26px auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: var(--azul);
}

.form .link {
    color: var(--azul);
    text-align: center;
    position: relative;
}

.form .link > a {
    color: var(--azul);
    padding: 0 0 2px 0;
    text-decoration: none;
    border-bottom: 1px solid;
}

.form .link.off,
.form .link.off > a { 
    border: none;
    color: var(--cinza);
}


/* ======= */
/*  INPUT  */
/* ======= */

.form .input-field {
    position: relative;
    margin: 30px 0 0 0;
    border-bottom: 1px solid var(--cinza-claro);
}
.form .input-field input::placeholder { color: transparent; }
.form .input-field label {
    left: 0;
    top: 10px;
    cursor: text;
    display: flex;
    text-align: center;
    position: absolute;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    transition: .15s ease-out;
}
.form .input-field input:focus + label span {
    font-size: 1.2rem;
}
span.icon.material-symbols-outlined {
    margin-right: .45rem;
}
.form .input-field input:focus + label span,
.form .input-field input:not(:placeholder-shown) + label span {
    font-size: 1rem;
    color: var(--cinza-medio);
    margin-right: .35rem;
}
.form .input-field input:focus + label,
.form .input-field input:not(:placeholder-shown) + label {
    top: -15px;
    font-size: 13px;
    color: var(--cinza-medio);
}
.form .input-field input {
    width: calc(100% - 20px);
    padding: 10px 20px 10px 5px;
}