@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sintony:wght@700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    --azul: #59A8FF;
    --azul50: #59A8FF50;
    --azul30: #59A8FF50;
    --verde: #00ed00;
    --verde50: #00ed0050;
    --verde30: #00ed0030;
    --cinza: #434343;
    --cinza-medio: #43434385;
    --cinza-claro: #43434350;
    --preto: #141414;
    --preto-abs: #141414;
    --fundo: #FFFFFF;
    --branco: #FFFFFF;
    --branco-abs: #FFFFFF;
    --branco-abs2: #FFFFFFCF;
    --shadow: 0 0 10px lightgray;
}

html.dark {
    --branco: #3f3f3d;
    --preto: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--cinza);
    font-family: 'Inter';
    box-sizing: border-box;
}

body {
    background: var(--branco);
}

.none {
    display: none !important;
}